<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/stylenes.css" />
<link rel="shortcut icon" href="/img/marioicon.png" />
<title>Nesbox™</title>
</head>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/"><img src="/img/home.png" height="25">Home</a>
  <a href="/md"><img src="/img/megaicon.png" height="25">Megadrive™</a>
  <a href="/snes"><img src="/img/snesicon.png" height="25">Super Nintendo™</a>
</div>
<span style="font-size:30px;cursor:pointer;color:white;text-shadow:-1px -1px black" onclick="openNav()">&#9776; Menu</span>
<h1 id="aviso" style="color:white">Aguarde Carregar o Emulador......</h1>
<embed class="centro" width="1280" height="720" scrolling="no" frameborder="0" src="https://nesbox.com/embed">
</embed>
<script src="/script/script.js"></script>
<script src="/script/script2.js"></script>
</body>
</html>