<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <meta http-equiv="refresh" content="3" /> -->
    <link rel="shortcut icon" href="/img/megaicon.png" />
    <link rel="stylesheet" href="/css/stylemd.css" />

    <title>Sega MegaDrive™</title>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
        >&times;</a
      >
      <a href="/"><img src="/img/home.png" height="25" />Home</a>
      <a id="myBtn"><img src="/img/pacicon.png" height="28" />Add Game</a>
      <a href="/md"><img src="/img/megaicon.png" height="25" />Megadrive™</a>
      <a href="/snes"
        ><img src="/img/snesicon.png" height="25" />Super Nintendo™</a
      >
    </div>
    <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="wrapper">
          <div class="title">Novo Jogo</div>
          <div class="form">
            <form action="/new" method="POST">
              <div class="input_field" tabindex="1">
                <label for="nome">Nome: </label>
                <input
                  type="text"
                  name="nome"
                  class="input"
                  id="nome"
                  placeholder="Digite o nome"
                  required
                />
              </div>
              <div class="input_field" tabindex="2">
                <label for="tipo">Tipo: </label>
                <input
                  type="text"
                  name="tipo"
                  class="input"
                  id="tipo"
                  placeholder="Digite o tipo"
                  required
                />
              </div>
              <div class="input_field" tabindex="3">
                <label for="imagem">Imagem: </label>
                <input
                  type="text"
                  name="imagem"
                  class="input"
                  id="imagem"
                  placeholder="Digite o link da imagem"
                  required
                />
              </div>
              <div class="input_field" tabindex="4">
                <label for="descricao">Descrição: </label>
                <input
                  type="text"
                  name="descricao"
                  class="input"
                  id="descricao"
                  placeholder="Digite a descrição"
                  required
                />
              </div>
              <div class="input_field" tabindex="5">
                <select name="cons" style="width: 250px">
                  <option value="Md">Md</option>
                </select>
              </div>
              <button class="btn" type="submit">Cadastrar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <span
      style="
        font-size: 30px;
        cursor: pointer;
        color: white;
        text-shadow: -1px -1px black;
      "
      onclick="openNav()"
      >&#9776; Menu</span
    >
    <div>
      <% lista.forEach((lista) => { %>
      <a href="/details/<%= lista.id%>"
        ><img src="<%=lista.imagem %>" width="380" height="310"
      /></a>
        <h2 class="button button-pink send-bd"><%= lista.nome%></h2>
      </a>
      <% }) %>
    </div>
    <script src="/script/script.js"></script>
  </body>
</html>
